<%
  # BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
  # Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
  # This program is free software; you can redistribute it and/or modify it under the
  # terms of the GNU Lesser General Public License as published by the Free Software
  # Foundation; either version 3.0 of the License, or (at your option) any later
  # version.
  #
  # BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
  # WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  # PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
  # You should have received a copy of the GNU Lesser General Public License along
  # with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="modal fade" id="<%= server.new_record? ? 'createServerModal' : 'server-' + server.id.to_s %>" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="card-body p-6">
          <div class="card-title">
            <h3><%= server.new_record? ? "Create New Bigbluebutton Server" : "Edit Bigbluebutton Server" %></h3>
          </div>

          <%= form_for server, url: server.new_record? ? bbb_servers_path : bbb_server_path(server.id), method: server.new_record? ? :post : :put do |f|  %>
            <div class="input-icon">
              <span class="input-icon-addon">
                <i class="fa fa-chalkboard-teacher"></i>
              </span>
              <%= f.text_field :name, id: "user-name", class: "form-control", placeholder: "Enter Server name", autocomplete: :off, required: true %>
              <div class="invalid-feedback text-left"><%= "Server name can't be blank "%></div>
            </div>
            </br>
            <div class="input-icon">
              <span class="input-icon-addon">
                <i class="fa fa-envelope"></i>
              </span>
              <%= f.text_field :url, id: "user-email", class: "form-control", placeholder: t("modal.create_user.email_placeholder"), autocomplete: :off, required: true %>
              <div class="invalid-feedback text-left"><%= t("modal.create_user.email_not_blank") %></div>
            </div>
            </br>
            <div class="form-footer">
              <%= f.submit 'Submit', id: "create-user-submit", class: "btn btn-outline-primary btn-block btn-pill" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>