<%
  # BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
  # Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
  # This program is free software; you can redistribute it and/or modify it under the
  # terms of the GNU Lesser General Public License as published by the Free Software
  # Foundation; either version 3.0 of the License, or (at your option) any later
  # version.
  #
  # BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
  # WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  # PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
  # You should have received a copy of the GNU Lesser General Public License along
  # with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<% unless flash.empty? %>
  <%= render "shared/error_banner" do %>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key} d-inline" %>
    <% end %>
  <% end %>
<% end %>

<div class="background pb-1">
  <div class="container">
    <div class="row pt-9">
      <div class="col-lg-9 col-sm-12">
        <div id="room-title" class="display-3 form-inline <%= 'edit_hover_class' if user.main_room != user_room %>">
          <h1 contenteditable=false id="user-text" class="display-3 text-left mb-3 font-weight-400"><%= user_room.name %></h1>
          <% if user.main_room == user_room %>
            <a class="disable-click"><i class="fas fa-home align-top home-indicator ml-2"></i></a>
          <% else %>
            <a><i id="edit-room" class="fa fa-edit align-top home-indicator ml-2" data-edit-room="<%= user_room.uid %>"></i></a>
          <% end %>
        </div>
        <h4 class="text-left mb-6"><%= user_room.sessions %> <%= t("room.sessions") %> | <%= user_room.recordings.length %> <%= t("room.recordings") %></h4>
      </div>
    </div>

    <div id="room_block_container" class="row pt-7 pb-2">
      <% if user.rooms.length > 1 %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <%= link_to user.main_room do %>
            <%= render "shared/components/room_block", room: user.main_room %>
          <% end %>
        </div>
        <% user.secondary_rooms.each do |r| %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <%= link_to r do %>
              <%= render "shared/components/room_block", room: r %>
            <% end %>
          </div>
          <%= render "shared/modals/delete_room_modal", room: r, url: user_room_delete_path(user_uid: user.uid, room_uid: r.uid) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/sessions", recordings: user_room.recordings, only_public: false %>
